extends layout

block content 
    section.title-with-photo
        .page-title
            img.android-icon(src='img/android_icon.svg')
            div
                span.big-title.uppercase.montserrat-text Our android projects
                .small-title.uppercase.montserrat-text Home / Android
    section.portfolio
        .container
            .row.col-md-3
                .big-title.montserrat-text
                    | choose category
                ul.portfolio_filter
                    li
                        a.active(href='' data-filter='*') all
                    li
                        a(href='' data-filter='.finished') finished
                    li
                        a(href='' data-filter='.work_in_progress') work in progress
            .portfolio_container.col-md-9
                .col-md-4.finished
                    a.portfolio_item.wow.fadeInUp.animated(href='project.html' style='visibility: visible; animation-name: fadeInUp;')
                        img.image-project(src='img/androidwork_easytodo.jpg' alt='image')
                        .portfolio_item_hover
                            .item_info
                                span Training &amp; Nutrition HOME
                                em finished
                .col-md-4.finished
                    a.portfolio_item(href='project.html')
                        img.image-project(src='img/androidwork_checkmoney.jpg' alt='image')
                        .portfolio_item_hover
                            .item_info
                                span CheckMoney
                                em finished
                .col-md-4.finished
                    a.portfolio_item(href='project.html')
                        img.image-project(src='img/androidwork_easytodo.jpg' alt='image')
                        .portfolio_item_hover
                            .item_info
                                span Easy To Do
                                em finished
                .col-md-4.work_in_progress
                    a.portfolio_item(href='project.html')
                        img.image-project(src='img/androidwork_medtest.jpg' alt='image')
                        .portfolio_item_hover
                            .item_info
                                span MedTest    
                                |                             &lt;
                                em work in progress
        section.green-section
            .container
                .col-md-6
                    .row
                        span.white-text.uppercase.montserrat-text(style='line-height: 40px; font-size: 30px;') you think we&apos;re cool? let&apos;s work together
                        .btn.white(style='margin: 30px 0 30px;') get in touch
                .col-md-6
                    .row
                        .white-section
                            h2.uppercase.montserrat-text stay informed with our newsletter
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            form(action='#' method='post')
                                div(style='margin-bottom: 20px; padding: 0 10px 0')
                                    .input_1
                                        input(type='text' name='mail' style='border-style: dashed; border-width: 2px;border-color: rgb(190, 190, 190) ')
                                        span(style='left: 20px;') your mail
                                button.btn.green(type='submit') send
    
    script(type='text/javascript' src='javascripts/jquery-2.1.4.min.js')
    script(type='text/javascript' src='javascripts/isotope.pkgd.min.js')
    script(type='text/javascript' src='javascripts/smoothScroll.js')
    script(type='text/javascript' src='javascripts/jquery.animsition.min.js')
    script(type='text/javascript' src='javascripts/wow.min.js')
    script(type='text/javascript' src='javascripts/main.js')
    script(type='text/javascript' src='javascripts/portfolio_filter.js')
