extends layout

block content
  section.main-title
    ul.slides
      li
        div
          span.small-title.montserrat-text we&apos;re
        .big-title.montserrat-text developers
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat.
      li
        div
          span.small-title.montserrat-text we&apos;re
        .big-title.montserrat-text students
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua.
  section.container
    .developers
      .developers-photo
        img.outline.increase-on-hover(src='img/programmers.jpg' alt='image')
      .developers-title-text
        .section-title
          span history of team
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat. Duis aute irure dolor nisi ut aliquip ex ea commodo
          | consequat. in reprehenderit in voluptate velit esse
          | cillum dolore eu fugiat nulla pariatur.
        a.btn.green(href='#' style='float:right; margin-top:30px;') read more
  section.green-section
    .container
      .green-section-text
        span.white-text.uppercase.montserrat-text(style='line-height: 40px; font-size: 30px;') you think we&apos;re cool? let&apos;s work together
      .white-section
        h2.uppercase.montserrat-text stay informed with our newsletter
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        form(action='#' method='post')
          div(style='margin-bottom: 20px; padding: 0 10px 0')
            .input_1
              input(type='text' name='mail' style='border-style: dashed; border-width: 2px;border-color: rgb(190, 190, 190) ')
              span your mail
          button.btn.green(type='submit') send
  script(type='text/javascript' src='javascripts/jquery-2.1.4.min.js')
  script(type='text/javascript' src='javascripts/jquery.flexslider.js')
  script(src="javascripts/index.js" type="text/javascript" charset="utf-8")

