@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */
* {
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    color:#60606e;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
a {
    color: #60606e;
    text-decoration: none;
}
a.link{
    position: relative;
}
a.link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #7beec7;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:focus {
    color: #60606e;
    text-decoration: none;
}
a:hover::after{
    width: 50%;
}

p {
    font-family: "Open sans", sans-serif;
    color: #999999;
    line-height: 30px;
    margin: 0 0 10px;
}

.montserrat-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

ul.social-icons li{
    list-style: none;
    float: left;
    margin: 0 10px;
}
ul.social-icons li a{
    color: #999999;
    font-size: 18px;
}

.btn{
    height: 50px;
    line-height: 50px;
    min-width: 150px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 0;
}
.btn.green {
    background-color: #7beec7;
    color: #fff;
}


.main-header{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
}
.main-header .logo {
    float: left;
    height: 100px;
    line-height: 100px;
}

.menu{float: right;}

nav.desktop-nav {float: left}
nav.desktop-nav li {list-style: none}
nav.desktop-nav ul.first-level > li{
    float: left;
    margin-right: 20px;
    position: relative;
}
nav.desktop-nav ul.first-level > li:last-child{margin-right: 0}
nav.desktop-nav ul.first-level > li > a{
    display: inline-block;
    line-height: 100px;
    position: relative;
}
nav.desktop-nav ul.first-level > li > a::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;
    width: 50%;
    height: 1px;
    background-color: #60606e;
    opacity: 0;
}
nav.desktop-nav ul.first-level > li:hover > a::after{
    top: 35px;
    opacity: 1;
}
nav.desktop-nav ul.first-level > li a{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
}

footer.main-footer{
    padding: 50px 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width:768px) {
    .container {
        width: 750px
    }
}
@media (min-width:992px) {
    .container {
        width: 970px
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

footer.main-footer {
    padding: 50px 0;
}
footer.main-footer nav.footer-nav ul{
    padding: 0;
    margin: 0px;
}
footer.main-footer nav.footer-nav ul li {
    list-style: none;
    float: left;
    margin: 0 20px;
    padding: 0;
}
footer.main-footer nav.footer-nav ul li:first-child{margin: 0 20px 0 0;}
footer.main-footer nav.footer-nav ul li a{
    text-transform: uppercase;
    color: #9a9a9a;
}
@media (max-width: 991px) {
    footer.main-footer * {
        text-align: center;
    }
    footer.main-footer nav.footer-nav ul li {
        text-align: center;
        width: 100%;
    }
    footer.main-footer nav.footer-nav ul li, footer.main-footer nav.footer-nav ul li:first-child {
        margin-left: 0;
        margin-bottom: 20px;
    }
}
.social-icons i{
    font-size: 18px;
}
.social-icons i:hover {
    color: #7beec7;
}

.uppercase{
    text-transform: uppercase;
}
.grey-text{
    color: #999999;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
ul {
    list-style: none;
}
.site-hero{
    height: 850px;
    width: 100%;
    background: #fff url("../img/site-hero.jpg") no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: -9;
}
.site-hero ul.slides{
    height: 400px;
    width: 100%;
    position:absolute;
    top: 100px;
}
.site-hero ul.slides li {
    width: 100%;
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.site-hero .small-title {
    padding: 7px 12px;
    background-color: #7beec7;
    display: inline-block;
}
.site-hero .big-title {
    font-size: 42px;
    color: #60606e;
    padding: 10px 40px;
    border: solid 9px #60606e;
    display: inline-block;
    margin-bottom: 30px;
}
.site-hero p{
    width: 50%;
    margin: 0 auto;
}

.developers {
    position: relative;
    width: 100%;
    height: 105%;
    float: left;
    margin-top: -300px;
}
@media (max-width: 992px) {
    .developers img {
        display: none;
    }
}

.developers img {
    float: left;
    max-height: 400px;
    margin: 0 10px 10px 0;
}
@media (max-width: 991px) {
    .developers{
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .developers .section-title span{
        margin: 0 auto;
        text-align: center;
    }
}



.section-title span {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position:relative;
    display: inline-block;
    margin-bottom: 20px;
}
.section-title span:after {
    content: "";
    background-color: #7beec7;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: -1;
    width: 60px;
    height: 20px;
}
.services {
    margin-top: 120px;
    position: relative;
}
.developers .section-title {
    width: 100%;
    text-align: left;
    margin: 0 auto 30px
}
.section-title {
    width: 50%;
    text-align: center;
    margin: 0 auto 100px;
}
.services .section-title span {
    margin-bottom: 2.5%;
}
.services .icon{
    display:block;
    font-size: 36px;
}
.services .services-left .service-title {
    margin-bottom: 20px;
    font-size: 18px;
    display: inline-block;
}
.services .services-left li {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #999999;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:992px) {
    .services {
        text-align: center;
    }
    .services img
    {
        display: none;
    }
}

@media (min-width:1200px) {
    .services {
        text-align: left;
        display: block;
    }
}

@media (max-width:992px) {
    .developers {
        text-align: center;
    }
    .developers span{
        text-align: center;
    }
}
@media (min-width:1200px) {
    .developers {
        text-align: left;
    }
}

.blur {
    backdrop-filter: blur(6px);
}

.glass{
    height: auto;
    width: 1200px;
    background-color: inherit;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    overflow: hidden;
    margin-right: auto;
    margin-left:auto;
}

.site-hero2 {
    background: url("../img/site-hero2.jpg") no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
}


.page-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.portfolio{
    margin-top: 150px;
}
.big-title {
    text-transform: uppercase;
}
.page-title .big-title {
    font-size: 32px;
}
.portfolio .big-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom:50px;
}
.portfolio .portfolio_filter li {
    margin: 20px 0;
}

.portfolio .portfolio_filter li a {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
}

.portfolio .portfolio_filter li a.active {
    margin-left: 0px;
    background-color: #7beec7;
    padding: 0 10px;
    color: white;
}

.portfolio_item {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    overflow: hidden;
}
.portable_item_hover {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #60606e;
    font-size: 18px;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}
.portfolio_item .portfolio_item_hover .item_info em {
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    background-color: #7beec7;
    padding: 5px;
    color: white;
    margin-top: 5px;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.section-description{
    /*display:inline-block;*/
}
ul.list li:last-child {
    margin-bottom: 0;
}
.applied-skills li{
    line-height: 25px;
    position:relative;
    padding-left: 20px;
}

.applied-skills li:before {
    font-family: "Ionicons";
    content: '\f374';
    font-size: 15px;
    position: absolute;
    bottom: 0;
    top:0;
    left: 0;
    color: #7beec7;
}
.projects-nav {
    margin-top: 50px;
    text-align:center;
    font-size: 25px;
    line-height: 50px;
}
.projects-nav .pages_pagination {
    display: inline-block;
    height: 100%;
    width: 50px;
}

.projects-nav .pages_pagination:hover {
    color: white;
    background-color: #7beec7;
}

.section-title p {
    line-height: 24px;
    color: #60606e;
}

.column{
    margin-bottom: 10px;
}

.benefits i {
    border-radius: .1rem;
    position:relative;
    top:5px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #7beec7;
    margin-right: 10px;
}


.benefits span {
    font-size: 16px;
    display: inline-block;
    line-height: 50px;
    top:0;
    left:0;
    height: 50px;
}

.member-info {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    overflow: hidden;
}

.team-members-hover {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    transform: translateX(-100%);
    opacity: 0;
}

.a {
    color: #60606e;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.adress p{
    line-height: 16px;
}

.input_1{
    height: 45px;
    width: 100%;
    border-style: none;
}

.input_1 input {
    border-style: solid;
}
.input_1 input, .input_1 textarea {
    border-color: #7beec7;
    border-width: 2px;
}


.input_1 span {
    padding-right: 5px;
    position: absolute;
    left: 5px;
    transform: translateY(-65%);
    text-transform: uppercase;
    font-weight: 700;
    color: #999999;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    font-size: 12px;
}

.input_1 [type="text"] {
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_1 textarea {
    font-size: 18px;
    padding-top: 10px;
    line-height: 24px;
    min-height: 150px;
    resize: vertical;
}

.green-section {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #7beec7;
}
.btn.white {
    width: 30%;
    background-color: #fff;
    color: #7beec7;
}
.white-text{
    color: #fff;
}
.white-section {
    padding: 20px;
    background-color: #fff;
}
.white-section h2 {
    font-size: 24px;
    padding-bottom: 10px;
}
.white-section .btn{
    width: 30%;
}
button{
    border-style: none;
}
.team-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.team-info h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.team-info h3 {
    padding: 5px;
    width: fit-content;
    background-color: #7beec7;
    margin: 0 auto 10px;
}
.outline {
    outline-color: #7beec7;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 5px;
}

.blog-post{
    margin-bottom:30px;
}

.blog-post .preview{
    margin-bottom: 30px;
}


.blog-post .post-date {
    color: #fff;
    background-color: #7beec7;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 15px;
}
.blog-post i {
    font-size: 18px;
    color: #cccccc;
    padding: 10px;
}
.blog-post i span{
    font-size: 16px;
    padding-left: 5px;
}




    @media (min-width:768px) {
        .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-pull-11 {
        right: 91.66666667%
    }

    .col-sm-pull-10 {
        right: 83.33333333%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-8 {
        right: 66.66666667%
    }

    .col-sm-pull-7 {
        right: 58.33333333%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-5 {
        right: 41.66666667%
    }

    .col-sm-pull-4 {
        right: 33.33333333%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-2 {
        right: 16.66666667%
    }

    .col-sm-pull-1 {
        right: 8.33333333%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-push-11 {
        left: 91.66666667%
    }

    .col-sm-push-10 {
        left: 83.33333333%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-8 {
        left: 66.66666667%
    }

    .col-sm-push-7 {
        left: 58.33333333%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-5 {
        left: 41.66666667%
    }

    .col-sm-push-4 {
        left: 33.33333333%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-2 {
        left: 16.66666667%
    }

    .col-sm-push-1 {
        left: 8.33333333%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-pull-11 {
        right: 91.66666667%
    }

    .col-md-pull-10 {
        right: 83.33333333%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-8 {
        right: 66.66666667%
    }

    .col-md-pull-7 {
        right: 58.33333333%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-5 {
        right: 41.66666667%
    }

    .col-md-pull-4 {
        right: 33.33333333%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-2 {
        right: 16.66666667%
    }

    .col-md-pull-1 {
        right: 8.33333333%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-push-11 {
        left: 91.66666667%
    }

    .col-md-push-10 {
        left: 83.33333333%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-8 {
        left: 66.66666667%
    }

    .col-md-push-7 {
        left: 58.33333333%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-5 {
        left: 41.66666667%
    }

    .col-md-push-4 {
        left: 33.33333333%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-2 {
        left: 16.66666667%
    }

    .col-md-push-1 {
        left: 8.33333333%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-offset-12 {
        margin-left: 100%
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    .col-md-offset-0 {
        margin-left: 0
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.project-picture .section-title {
    margin-top: 100px;
    text-align:center;
    width: 50%;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

img {
    vertical-align: middle;
    width: 100%;
    border: 0;
}